/* 会員登録情報画面（/top） */
    .personal-text{
        margin: 50px;
    }
    .personal-text h1{
        margin-bottom: 50px;
    }
    .personal-text p{
        font-size: 1.5rem;
    }
    .personal-link{
        margin: 50px;
        text-decoration: underline;
    }

/* 会員情報修正画面（/edit） */
    .editForm{
        margin: 50px;
    }
    .editForm h1{
        margin-bottom: 50px;
    }
    .editForm p{
        font-size: 1.5rem;
    }
    .editInput{
        width: 450px;
        margin-bottom: 30px;
    }
    .edit-link .submitButton{
        margin-right: 250px;
    }

/* 削除一覧画面（/deleteView） */
   .view-text{
       margin: 70px;
    }
   .view-text h1{
       margin-bottom: 50px;
       font-size: 2rem;
    }
   .view-text p{
       padding-left: 50px;
       font-size: 1.5rem;
    }
   .view-text .view-delete{
       margin-bottom: 70px;
    }
    .view-text a{
        font-size: 1.5rem;
    }

/* 会員一覧画面（/registerView） */
    .register-view-text{
        margin: 70px;
    }
    .register-view-text h1{
        margin-bottom: 50px;
        font-size: 2rem;
    }
    .register-view-text p{
        padding-left: 50px;
        font-size: 1.5rem;
    }
    .register-view-text .view-email{
        margin-bottom: 70px;
    }
    .register-view-text a{
        font-size: 1.5rem;
    }